<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss,,SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Вимкнути логування для org.apache.ftpserver.listener.nio.FtpLoggingFilter -->
        <Logger name="org.apache.ftpserver.listener.nio" level="OFF" additivity="false"/>

        <!-- Вимкнути логування для org.apache.ftpserver.impl.PassivePorts -->
        <Logger name="org.apache.ftpserver.impl.PassivePorts" level="OFF" additivity="false"/>

        <!-- Головний логер -->
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
