#memento-input{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size:18px;
    text-align: center;
}

#memento-button{
    margin-top: 3%;
    background-color: #134983;
    color: white;
    height: 50px;
    font-size:20px;
    padding: 18px;
    border: 1px solid #003d82;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#memento-button:hover {
    background-color: #07356c;
}


.snapshots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}